doctype html
html
  head
    title= title
    link(rel='stylesheet', href='//assets.ziggeo.com/css/ziggeo-betajs-player.min.css')
    script(src='//assets.ziggeo.com/js/ziggeo-jquery-json2-betajs-player.min.js')
    script(type='text/javascript')
      ZiggeoApi.token = "b9f35995be83d324b2ad32816a1e5304"
  body
    block content